scripts/wsdl/TimeAccounting.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TimeAccounting" targetNamespace="http://www.znuny.org/TimeAccounting/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.znuny.org/TimeAccounting/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:documentation>
TimeAccounting for SOAP protocol

WARNING: This WSDL file is for development and testing purposes ONLY!
</wsdl:documentation>
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.znuny.org/TimeAccounting/">
    <xsd:element name="TimeAccountingGet">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element
                    name="UserLogin"
                    type="xsd:string"
                    maxOccurs="1"
                    minOccurs="1">
                </xsd:element>
                <xsd:element
                    name="Password"
                    type="xsd:string"
                    maxOccurs="1"
                    minOccurs="1">
                </xsd:element>
                <xsd:element
                    name="TimeAccountingUserLogin"
                    type="xsd:string"
                    maxOccurs="1"
                    minOccurs="1">
                </xsd:element>
                <xsd:element
                    name="TimeAccountingStart"
                    type="xsd:string"
                    maxOccurs="1"
                    minOccurs="1">
                </xsd:element>
                <xsd:element
                    name="TimeAccountingEnd"
                    type="xsd:string"
                    maxOccurs="1"
                    minOccurs="1">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TimeAccountingGetResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="TimeAccountingResult" type="tns:OTRS_TimeAccountingResult"/>
                <xsd:element
                    name="Error"
                    type="tns:OTRS_Error" minOccurs="0" maxOccurs="1">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="OTRS_TimeAccountingResult">
        <xsd:sequence>
            <xsd:element name="TicketNumber" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="TicketTitle" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="Queue" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="Created" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="TimeUnit" type="xsd:string" maxOccurs="1" minOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OTRS_Error">
        <xsd:sequence>
            <xsd:element
                name="ErrorMessage"
                type="xsd:string" minOccurs="1">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema></wsdl:types>
    <wsdl:message name="TimeAccountingGetRequest">
        <wsdl:part
            name="parameters" element="tns:TimeAccountingGet">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="TimeAccountingGetResponse">
        <wsdl:part
            name="parameters" element="tns:TimeAccountingGetResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="GenericTimeAccounting_PortType">
        <wsdl:documentation>Provides:
- TimeAccountingGet
</wsdl:documentation>
        <wsdl:operation name="TimeAccountingGet">
            <wsdl:input message="tns:TimeAccountingGetRequest"></wsdl:input>
            <wsdl:output message="tns:TimeAccountingGetResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding
        name="GenericTimeAccounting_Binding"
        type="tns:GenericTimeAccounting_PortType">
        <soap:binding
            style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="TimeAccountingGet">
            <soap:operation
                soapAction="http://www.znuny.org/TimeAccounting/TimeAccountingGet" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GenericTimeAccounting">
        <wsdl:port name="GenericTimeAccounting_Port" binding="tns:GenericTimeAccounting_Binding">
            <soap:address location="http://localhost/otrs/nph-genericinterface.pl/Webservice/TimeAccounting" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
